.navigation
{
  z-index: z('navigation');
  position: fixed;

  top: 2rem;
  left: 50%;
  transform: translateX(-50%);

  background: $color-oxford-blue;
  color: $color-white-smoke;

  border-radius: 10px;

  /* border: 1px solid $color-oxford-blue;
  color: $color-oxford-blue; */

  &__wrapper
  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 5rem;

    width: 100%;
  }

  &__logo
  {


    &__link
    {
      height: 100%;
      width: 100%;

      font-size: 0;

      &__image
      {
        opacity: 1;

        height: 5rem;
        width: 5rem;

        object-fit: cover;

      }
    }
  }

  &__list
  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__item
    {
      margin-left: 8rem;

      &__link
      {
        @extend %desc-18;

        //text-transform: uppercase;
      }
    }
  }
}
