%sub-20
{
  font-family: $font-avant-garde;
  font-size: 2.0rem;
}

%sub-22
{
  font-family: $font-avant-garde;
  font-size: 2.2rem;
}

%sub-24
{
  font-family: $font-avant-garde;
  font-size: 2.4rem;
}

%sub-26
{
  font-family: $font-avant-garde;
  font-size: 2.6rem;
}

%sub-28
{
  font-family: $font-avant-garde;
  font-size: 2.8rem;
}

%sub-30
{
  font-family: $font-avant-garde;
  font-size: 3.0rem;
}

%sub-35
{
  font-family: $font-avant-garde;
  font-size: 3.5rem;
}

%sub-40
{
  font-family: $font-avant-garde;
  font-size: 4.0rem;
}

%sub-45
{
  font-family: $font-avant-garde;
  font-size: 4.5rem;
}

%sub-50
{
  font-family: $font-avant-garde;
  font-size: 5.0rem;
}
