$color-rich-black: #000917;
$color-oxford-blue: #00102a;
$color-bice-blue: #2773b2;
$color-white-smoke: #f3f3f3;
$color-background-grey: #d6d2ca;

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$font-open-sans: 'OpenSans';
$font-avant-garde: 'ITC Avant Garde Gothic Bold';
$font-quadrat: 'Quadrat-Serial-Medium';

$z-indexes: (
  'preloader',
  'navigation',
  'modal',
  'link',
  'content',
  'canvas',
  'title'
);
