extends ../base.pug

block variables
  - var template = 'home'

block content
  .home
    //.home__titles
      .home__titles__headline
        h1.home__titles__headline__text=home.title
      .home__titles__subline
        h3.home__titles__subline__text=home.sub_title
